# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/src/test/test_Grid
/src/test/test_GridData
/src/test/test_LoadMask
/src/test/test_grid.nc
/delivery/*
/src/help/isla.aux
/src/help/isla.con
/src/help/isla.hhc
/src/help/isla.hhk
/src/help/isla.hhp
/src/help/isla.htx
/src/help/isla.idx
/src/help/isla.log
/src/help/isla.pdf
/src/help/isla.ref
/src/help/isla.toc
/src/help/isla_contents.html
/src/help/isla_topic0.html
/src/help/isla_topic1.html
/src/help/isla_topic10.html
/src/help/isla_topic11.html
/src/help/isla_topic12.con
/src/help/isla_topic12.html
/src/help/isla_topic13.html
/src/help/isla_topic14.html
/src/help/isla_topic16.html
/src/help/isla_topic17.html
/src/help/isla_topic2.html
/src/help/isla_topic3.html
/src/help/isla_topic4.html
/src/help/isla_topic5.html
/src/help/isla_topic6.html
/src/help/isla_topic7.html
/src/help/isla_topic8.html
/src/help/isla_topic9.html
/src/help/isla.htb
/src/isla
/install/bin/isla
/install/share/isla/isla.htb
/src/help/isla_topic10.con
/src/help/isla_topic15.html
test/*
