# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
CMakeCache.txt
CMakeFiles/*
/src/CMakeFiles/*
/src/CTestTestfile.cmake
/src/cmake_install.cmake
/src/isla/CMakeFiles/*
/src/isla/CTestTestfile.cmake
/src/isla/cmake_install.cmake
/src/isla/isla
/src/lib/CMakeFiles/*
/src/lib/CTestTestfile.cmake
/src/lib/cmake_install.cmake
/src/test/CMakeFiles/*
/src/test/CTestTestfile.cmake
/src/test/cmake_install.cmake
/src/test/test_Grid
/src/test/Testing/*
Makefile
/src/Testing/Temporary
